{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="gothic-card">
    <h2>Вход в обитель</h2>
    <form action="/login" method="post">
        <label>Логин</label>
        <input type="text" name="username" required>
        <label>Пароль</label>
        <input type="password" name="password" required>
        <button type="submit">Войти</button>
        <a href="/register" class="gothic-link">Еще не с нами? Регистрация</a>
    </form>
</div>
{% endblock %}