<!DOCTYPE html>
<html>
<head>
    <title>Регистрация - Черный Пекарь</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="gothic-card" style="width: 500px;"> <h2>Регистрация</h2>
        <form action="/register" method="post">
            <label>Логин</label>
            <input type="text" name="username" required>

            <label>Пароль</label>
            <input type="password" name="password" required>

            <label>ФИО</label>
            <input type="text" name="full_name" required>

            <label>Телефон</label>
            <input type="text" name="phone" placeholder="8(999)123-45-67">

            <label>E-mail</label>
            <input type="text" name="email" required>

            <div style="margin: 15px 0; font-size: 0.8em;">
                <input type="checkbox" required> Я принимаю условия обработки данных
            </div>

            <button type="submit">Создать аккаунт</button>
            <a href="/" class="gothic-link">У меня уже есть аккаунт</a>
        </form>
    </div>
</body>
</html>